# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists include.
- Below are a few examples of evaluating arithmetic expressions in Python
- This a simple arithmetic expression to mutiply then add integers

##### Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Scala
5. Java

##### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scipy

##### Data Science Tools

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|VSCode|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Zeeshan Ahmed